.searchArea {
    background-color: #e6f2ff;
    padding: 20px;
}


.searchedBtn {
    background-color: lightskyblue;
    width: 100%;
    margin-top: 10px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 5px; /* 5px rounded corners */
    text-align: center;
    font: white; /* 🤦‍♂️ not working, i want to make font bold and white, and surrounding corners round */
}

.card {
    /* rounded corners*/
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 5px; /* 5px rounded corners */
    width: 19%;
    height: 200px;
    padding: 10px;
    margin-right:  2px;
    float: left;
    background-color:lightskyblue;
    font: white;
  }

  #currentDate
  #currentIcon {
      float: right;
  }
  
  /* On mouse-over, add a deeper shadow */
  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }

/* .uvindex {
    padding: 5px;
}

.one-fifth {
    box-sizing: border-box;
    width: 20%;
    margin: 5px;
    padding: 5px;
    
}

.one-fifth:first-child {
    margin-left: 0px;
}

.one-fifth:last-child{
    margin-right: 0px;
}

.forecast {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 10px 0px;
}

#searchBtn{
    padding: 6px 5px 0px 5px;

} */